<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>LWContentType</key>
		<string>LWContentTypeFrame</string>
		<key>LWLayoutDirection</key>
		<string>LWLayoutDirectionHorizontal</string>
		<key>LWLengthMM</key>
		<integer>70</integer>
		<key>LWFrameSizeMode</key>
		<string>LWFrameSizeModePercent</string>
		<key>LWBorderType</key>
		<string>LWBorderTypeNone</string>
		<key>LWMargins</key>
		<string>LWMarginsMinimum</string>
		<key>LWFrames</key>
		<array>
			<dict>
				<key>LWContentType</key>
				<string>LWContentTypeFrame</string>
				<key>LWContentWidth</key>
				<integer>35</integer>
				<key>LWLayoutDirection</key>
				<string>LWLayoutDirectionVertical</string>
				<key>LWBorderType</key>
				<string>LWBorderTypeNone</string>
				<key>LWFrames</key>
				<array>
					<dict>
						<key>LWContentType</key>
						<string>LWContentTypeString</string>
						<key>LWContentID</key>
						<string>ITEM-T</string>
						<key>LWBorderType</key>
						<string>LWBorderTypeNone</string>
						<key>LWContentHeight</key>
						<integer>25</integer>
						<key>LWFontSize</key>
						<string>LWFontSizeMedium</string>
						<key>LWTextAlignment</key>
						<string>LWTextAlignmentLeft</string>
					</dict>
					<dict>
						<key>LWContentType</key>
						<string>LWContentTypeString</string>
						<key>LWContentID</key>
						<string>OPERATOR-T</string>
						<key>LWBorderType</key>
						<string>LWBorderTypeNone</string>
						<key>LWContentHeight</key>
						<integer>25</integer>
						<key>LWFontSize</key>
						<string>LWFontSizeMedium</string>
						<key>LWTextAlignment</key>
						<string>LWTextAlignmentLeft</string>
					</dict>
					<dict>
						<key>LWContentType</key>
						<string>LWContentTypeString</string>
						<key>LWContentID</key>
						<string>CREATE-DATE-T</string>
						<key>LWBorderType</key>
						<string>LWBorderTypeNone</string>
						<key>LWContentHeight</key>
						<integer>25</integer>
						<key>LWFontSize</key>
						<string>LWFontSizeMedium</string>
						<key>LWTextAlignment</key>
						<string>LWTextAlignmentLeft</string>
					</dict>
					<dict>
						<key>LWContentType</key>
						<string>LWContentTypeString</string>
						<key>LWContentID</key>
						<string>EXPIRE-DATE-T</string>
						<key>LWBorderType</key>
						<string>LWBorderTypeNone</string>
						<key>LWContentHeight</key>
						<integer>25</integer>
						<key>LWFontSize</key>
						<string>LWFontSizeMedium</string>
						<key>LWTextAlignment</key>
						<string>LWTextAlignmentLeft</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>LWContentType</key>
				<string>LWContentTypeFrame</string>
				<key>LWContentWidth</key>
				<integer>35</integer>
				<key>LWLayoutDirection</key>
				<string>LWLayoutDirectionVertical</string>
				<key>LWBorderType</key>
				<string>LWBorderTypeNone</string>
				<key>LWFrames</key>
				<array>
					<dict>
						<key>LWContentType</key>
						<string>LWContentTypeString</string>
						<key>LWContentID</key>
						<string>ITEM-V</string>
						<key>LWBorderType</key>
						<string>LWBorderTypeNone</string>
						<key>LWContentHeight</key>
						<integer>25</integer>
						<key>LWFontSize</key>
						<string>LWFontSizeMedium</string>
						<key>LWTextAlignment</key>
						<string>LWTextAlignmentLeft</string>
					</dict>
					<dict>
						<key>LWContentType</key>
						<string>LWContentTypeString</string>
						<key>LWContentID</key>
						<string>OPERATOR-V</string>
						<key>LWBorderType</key>
						<string>LWBorderTypeNone</string>
						<key>LWContentHeight</key>
						<integer>25</integer>
						<key>LWFontSize</key>
						<string>LWFontSizeMedium</string>
						<key>LWTextAlignment</key>
						<string>LWTextAlignmentLeft</string>
					</dict>
					<dict>
						<key>LWContentType</key>
						<string>LWContentTypeString</string>
						<key>LWContentID</key>
						<string>CREATE-DATE-V</string>
						<key>LWBorderType</key>
						<string>LWBorderTypeNone</string>
						<key>LWContentHeight</key>
						<integer>25</integer>
						<key>LWFontSize</key>
						<string>LWFontSizeMedium</string>
						<key>LWTextAlignment</key>
						<string>LWTextAlignmentLeft</string>
					</dict>
					<dict>
						<key>LWContentType</key>
						<string>LWContentTypeString</string>
						<key>LWContentID</key>
						<string>EXPIRE-DATE-V</string>
						<key>LWBorderType</key>
						<string>LWBorderTypeNone</string>
						<key>LWContentHeight</key>
						<integer>25</integer>
						<key>LWFontSize</key>
						<string>LWFontSizeMedium</string>
						<key>LWTextAlignment</key>
						<string>LWTextAlignmentLeft</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>LWContentType</key>
				<string>LWContentTypeQRCode</string>
				<key>LWContentWidth</key>
				<integer>30</integer>
				<key>LWContentHeight</key>
				<integer>90</integer>
				<key>LWQRCodeSize</key>
				<string>LWQRCodeSizeLarge</string>
				<key>LWContentID</key>
				<string>QRCODE</string>
				<key>LWBorderType</key>
				<string>LWBorderTypeNone</string>
				<key>LWQRCorrectQualityType</key>
				<string>LWQRCorrectQualityTypeHigh</string>
			</dict>
		</array>
	</dict>
</plist>